.page {
  font-family: 'Rubik', sans-serif;
  font-family: 'Over the Rainbow', cursive;
  font-family: 'Overpass Mono', monospace; }
  .page__wrap {
    width: 100%;
    margin: 0 auto; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

.header__link-fonts {
  font-family: 'Rubik', sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2d1b45; }

.header__intro-title-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 72px;
  text-transform: uppercase;
  color: #4d008c;
  text-align: center; }

.header__intro-subtitle-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 1.2;
  color: #424242;
  text-align: center; }

.header__nav-fonts {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  color: #4e4e4e; }

.header__top {
  width: 90.3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }
  .header__top-menu-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__top-menu-link-img {
      width: 51px;
      height: 48px;
      margin: 45px 45px 45px 0px; }
  .header__top-box-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__top-box-link-img {
      width: 70px;
      height: 60px;
      margin: 0px 0px 0px 45px; }

.header__intro {
  background-image: url("../img/Layer 772.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom; }
  .header__intro-content {
    width: 44%;
    margin: auto;
    padding: 160px 0px 245px 0px; }
  .header__intro-title-text {
    padding-bottom: 60px; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58.2%;
  margin: 0 auto; }
  .header__nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: red;
    padding: 50px 0px;
    width: 25%;
    border-left: 1px solid black; }
