html {
  font-size: 10px; }

@media (min-width: 2400px) {
  html {
    font-size: 20px; } }

@media (max-width: 1600px) {
  html {
    font-size: 9px; } }

@media (max-width: 1240px) {
  html {
    font-size: 8px; } }

@media (max-width: 1020px) {
  html {
    font-size: 6px; } }

.page {
  font-family: 'Rubik', sans-serif;
  font-family: 'Over the Rainbow', cursive;
  font-family: 'Overpass Mono', monospace;
  font-size: 1.6rem; }
  .page__wrap {
    width: 100%;
    min-width: 32rem;
    margin: 0 auto; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

.header__link-fonts {
  font-family: 'Rubik', sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #2d1b45; }

.header__intro-title-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #4d008c;
  text-align: center; }

.header__intro-subtitle-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
  line-height: 1.2;
  color: #424242;
  text-align: center; }

.header__nav-fonts {
  font-family: 'Rubik', sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  color: #4e4e4e; }

@media (max-width: 639px) {
  .header__link-fonts {
    font-size: 0rem; } }

.about__title-text {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
  line-height: 1.3; }
  .about__title-text-span {
    font-size: 3rem;
    font-weight: 900;
    color: #fd54cf; }

.about__subtitle-text {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #282828;
  line-height: 1.5; }

.ingredients__title-top {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color: #4d008c; }

.ingredients__block-description-title-text {
  font-family: 'Over the Rainbow', cursive;
  font-size: 5.5rem;
  line-height: 1.4;
  color: #4d008c;
  text-align: left; }

.ingredients__block-description-subtitle-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: left;
  color: #363636; }

.ingredients__block-description-found-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #363636; }

@media (max-width: 700px) {
  .ingredients__block-description-title-text {
    text-align: center; }
  .ingredients__block-description-subtitle-text {
    text-align: center; }
  .ingredients__block-description-found-text {
    text-align: center; } }

.skincare__top-text {
  font-family: 'Rubik', sans-serif;
  font-size: 2.75rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }

.skincare__title-text {
  font-family: 'Rubik', sans-serif;
  font-size: 2.15rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }

.skincare__title-span {
  color: #fd54cf; }

.skincare__subtitle-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #fff;
  text-align: center; }

.skincare__list-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff; }

.skincare__list-span {
  font-weight: 900; }

.explained__title-top {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color: #4d008c; }

.explained__description-title-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000; }

.explained__description-subtitle-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  color: #363636;
  line-height: 1.3; }

.header__top {
  width: 90.3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }
  .header__top-menu-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__top-menu-link-img {
      width: 2.55rem;
      height: 2.4rem;
      margin: 2.25rem 2.25rem 2.25rem 0rem; }
  .header__top-box-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__top-box-link-img {
      width: 3.5rem;
      height: 3rem;
      margin: 0rem 0rem 0rem 2.25rem; }

.header__intro {
  background-image: url("../img/Layer 772.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom; }
  .header__intro-content {
    width: 44%;
    margin: auto;
    padding: 8rem 0rem 12.25rem 0rem; }
  .header__intro-title-text {
    padding-bottom: 3rem; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58.2%;
  margin: 0 auto; }
  .header__nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    border-left: 0.1rem solid #dbdbdb; }
    .header__nav-item-link {
      width: 100%;
      height: 100%;
      padding: 2.5rem 0rem; }
    .header__nav-item-link:hover {
      background: #54326a;
      color: #fff; }
  .header__nav-item:first-child {
    border-left: none; }

@media (max-width: 700px) {
  .header__nav {
    display: none; } }

.about__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7.5rem;
  padding-bottom: 10rem; }

.about__title-text {
  padding-bottom: 1.5rem; }

.ingredients {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .ingredients__title {
    padding-bottom: 8.5rem; }
  .ingredients__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3rem; }
    .ingredients__block-reverse {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 3rem; }
    .ingredients__block-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 50%; }
      .ingredients__block-wrap-reverse {
        width: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
    .ingredients__block-gradient {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 47.65rem;
      height: 33.5rem;
      background-image: -webkit-linear-gradient(0deg, #ece0f9 0%, #fff2ff 43%, #ffeee2 99%);
      background-image: -ms-linear-gradient(0deg, #ece0f9 0%, #fff2ff 43%, #ffeee2 99%); }
      .ingredients__block-gradient-reverse {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 47.65rem;
        height: 33.5rem;
        background-image: -webkit-linear-gradient(0deg, #ece0f9 0%, #fff2ff 43%, #ffeee2 99%);
        background-image: -ms-linear-gradient(0deg, #ece0f9 0%, #fff2ff 43%, #ffeee2 99%); }
    .ingredients__block-background {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 47.65rem;
      height: 33.5rem;
      background: #fff;
      position: relative;
      left: 10%;
      bottom: 10%;
      -webkit-box-shadow: 1.5rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
              box-shadow: 1.5rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.1); }
      .ingredients__block-background-reverse {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 47.65rem;
        height: 33.5rem;
        background: #fff;
        position: relative;
        left: -10%;
        bottom: 10%;
        -webkit-box-shadow: 1rem 1.6rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
                box-shadow: 1rem 1.6rem 1rem 0.1rem rgba(0, 0, 0, 0.1); }
      .ingredients__block-background-img-picture {
        max-width: 39.3rem;
        max-height: 24.3rem; }
    .ingredients__block-description {
      padding-right: 7%; }
      .ingredients__block-description-reverse {
        padding-left: 7%; }
      .ingredients__block-description-title-text {
        padding-bottom: 1rem; }
      .ingredients__block-description-subtitle-text {
        padding-bottom: 1.25rem; }

@media (min-width: 2800px) {
  .ingredients {
    width: 67%; } }

@media (max-width: 700px) {
  .ingredients__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .ingredients__block-reverse {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .ingredients__block-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 80%; }
      .ingredients__block-wrap-reverse {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 80%; } }

.skincare {
  padding-top: 18rem; }
  .skincare__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .skincare__border {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 67%;
    background: url("../img/Vector Smart Object copy 34.png") left no-repeat, url("../img/Vector Smart Object copy 35.png") right no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    padding: 1%; }
    .skincare__border-content {
      background: #512e91;
      padding: 7.5rem 0rem; }
      .skincare__border-content-top {
        width: 68%;
        margin: 0 auto; }
      .skincare__border-content-bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .skincare__top-text {
    padding-bottom: 4.25rem; }
  .skincare__title-text {
    padding-bottom: 2.5rem; }
  .skincare__subtitle-text {
    padding-bottom: 4.6rem; }
  .skincare__list {
    padding: 0rem 0.9rem; }

@media (min-width: 2400px) {
  .skincare__border-content-top {
    width: 50%; } }

.explained {
  width: 58%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 7.5rem; }
  .explained__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .explained__top {
    padding-bottom: 5.5rem; }
  .explained__description {
    padding-bottom: 2.5rem; }
