.explained{
    width: 58%;
    display: flex;
    margin: 0 auto;
    padding-top: 7.5rem;
    &__wrap{
        display: flex;
        flex-direction: column;
    }

    &__title{
        padding-bottom: 5.5rem;
    }

    &__description{
        padding-bottom: 2.5rem;
    }
    
}

@media (max-width: 751px) {
    .explained{
        width: 98%;
        align-items: center;

        &__wrap{
            padding: 0 3rem;
        }
    }
}