// !!! HEADER FONTS !!! //
.header{

    &__link-fonts{
        font-family: 'Rubik', sans-serif;
        // font-size: 42px;
        font-size: 2.1rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #2d1b45;
    }

    &__intro{

        &-title-text{
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            // font-size: 72px;
            font-size: 3.2rem;
            text-transform: uppercase;
            color: #4d008c;
            text-align: center;
        }

        &-subtitle-text{
            font-family: 'Rubik', sans-serif;
            font-weight: 100;
            // font-size: 48px;
            font-size: 2.4rem;
            line-height: 1.2;
            color: #424242;
            text-align: center;
        }

    }

    &__nav-fonts{
        font-family: 'Rubik', sans-serif;
        // font-size: 48px;
        font-size: 2.4rem;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        color: #4e4e4e;
    }

}

// !!! ABOUT FONTS !!! //
.about{

    &__title-text{
        font-family: 'Rubik', sans-serif;
        // font-size: 60px;
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: #282828;
        line-height: 1.3;

        &-span{
            // font-size: 60px;
            font-size: 3rem;
            font-weight: 900;
            color: #fd54cf;
        }

    }

    &__subtitle-text{
        font-family: 'Rubik', sans-serif;
        // font-size: 40px;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: #282828;
        line-height: 1.5;

    }

}

// !!! INGREDIENTS FONTS !!! //
.ingredients{

    &__title-top{
        font-family: 'Rubik', sans-serif;
        // font-size: 72px;
        font-size: 3.5rem;
        text-align: center;
        color: #4d008c;
    }

    &__block{

        &-description{

            &-title-text{
                font-family: 'Over the Rainbow', cursive;
                // font-size: 110px;
                font-size: 5.5rem;
                line-height: 1.4;
                color: #4d008c;
                text-align: left;
            }

            &-subtitle-text{
                font-family: 'Rubik', sans-serif;
                // font-size: 36px;
                font-size: 1.8rem;
                line-height: 1.2;
                text-align: left;
                color: #363636;
            }

            &-found-text{
                font-family: 'Rubik', sans-serif;
                // font-size: 36px;
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 1.2;
                text-align: left;
                color: #363636;
            }

        }

    }

}