// !!! HEADER FONTS !!! //
.header{

    &__link-fonts{
        font-family: 'Rubik', sans-serif;
        font-size: 2.1rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #2d1b45;
    }

    &__intro{

        &-title-text{
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            font-size: 3.2rem;
            text-transform: uppercase;
            color: #4d008c;
            text-align: center;
        }

        &-subtitle-text{
            font-family: 'Rubik', sans-serif;
            font-weight: 100;
            font-size: 2.4rem;
            line-height: 1.2;
            color: #424242;
            text-align: center;
        }

    }

    &__nav-fonts{
        font-family: 'Rubik', sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        color: #4e4e4e;
    }

}

@media (max-width: 751px) {
    .header{

        &__link-fonts{
            font-size: 0rem;
        }

        &__intro{

            &-title-text{
                font-size: 4rem;
            }

            &-subtitle-text{
                font-size: 2.7rem;
            }

        }

    }
}

// !!! ABOUT FONTS !!! //
.about{

    &__title-text{
        font-family: 'Rubik', sans-serif;
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: #282828;
        line-height: 1.3;

        &-span{
            font-size: 3rem;
            font-weight: 900;
            color: #fd54cf;
        }

    }

    &__subtitle-text{
        font-family: 'Rubik', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: #282828;
        line-height: 1.5;

    }

}

@media (max-width: 751px) {
    .about{

        &__title-text, &-span{
            font-size: 3.6rem;
        }

        &__subtitle-text{
            font-size: 3rem;
        }

    }
}

// !!! INGREDIENTS FONTS !!! //
.ingredients{

    &__title-top{
        font-family: 'Rubik', sans-serif;
        font-size: 3.5rem;
        text-align: center;
        color: #4d008c;
    }

    &__block{

        &-description{

            &-title-text{
                font-family: 'Over the Rainbow', cursive;
                font-size: 5.5rem;
                line-height: 1.4;
                color: #4d008c;
                text-align: left;
            }

            &-subtitle-text{
                font-family: 'Rubik', sans-serif;
                font-size: 1.8rem;
                line-height: 1.2;
                text-align: left;
                color: #363636;
            }

            &-found-text{
                font-family: 'Rubik', sans-serif;
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 1.2;
                text-align: left;
                color: #363636;
            }

        }

    }

}

@media (max-width: 751px) {
    .ingredients__block-description{

        &-title-text, &-subtitle-text, &-found-text{
            text-align: center;
        }
    }
}

// !!! SKINCARE FONTS !!! //

.skincare{

    &__top-text{
        font-family: 'Rubik', sans-serif;
        font-size: 2.75rem;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    &__title-text{
        font-family: 'Rubik', sans-serif;
        font-size: 2.15rem;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    &__title-span{
        color: #fd54cf;
    }

    &__subtitle-text{
        font-family: 'Rubik', sans-serif;
        font-size: 1.8rem;
        line-height: 1.2;
        color: #fff;
        text-align: center;
    }

    &__list-text{
        font-family: 'Rubik', sans-serif;
        font-size: 1.6rem;
        font-weight: 200;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
    }

    &__list-span{
        font-weight: 400;
    }

}

@media (max-width: 751px) {
    .skincare{

        &__list-text{
            font-size: 2.1rem;
            line-height: 1.4;
        }

        &__top-text{
            font-size: 3.5rem;
        }

        &__title-text{
            font-size: 3rem;
        }

        &__subtitle-text{
            font-size: 2.5rem;
        }
        
    }
}

// !!! EXPLAINED FONTS !!! //
.explained{

    &__title-top{
        font-family: 'Rubik', sans-serif;
        font-size: 3.5rem;
        text-align: center;
        color: #4d008c;
    }

    &__description{

        &-title-text{
            font-family: 'Rubik', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
        }

        &-subtitle-text{
            font-family: 'Rubik', sans-serif;
            font-size: 1.4rem;
            color: #363636;
            line-height: 1.3;
        }

    }

}

// !!! SUBSCRIPTION FONTS !!! //
.subscription{

    &__title-top{
        font-family: 'Rubik', sans-serif;
        font-size: 3.5rem;
        text-align: center;
        color: #4d008c;
    }

    &__item{

        &-text-step{
            font-family: 'Over the Rainbow', cursive;
            font-size: 2.8rem;
            color: #fff;
            text-align: center;
        }

        &-text-how{
            font-family: 'Rubik', sans-serif;
            font-size: 1.8rem;        
            text-align: left;
            line-height: 1.3;
            width: 51%;

            &-span{
                text-transform: uppercase;
                font-weight: 900;
                color: #4d008c;
            }
        }

    }

    &__short-item{

        &-title-text{
            font-family: 'Rubik', sans-serif;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.3;
            color: #4d008c;
        }

        &-subtitle-text{
            font-family: 'Rubik', sans-serif;
            font-size: 1.5rem;
            text-align: left;
            line-height: 1.4;
            color: #363636;
            margin-left: 1.7rem;

            &-span{
                font-weight: bold;
            }
        }
        
    }

}

// !!! SYSTEM FONTS !!! //
.system{

    &__item{

        &-title-text{
            font-family: 'Rubik', sans-serif;
            font-size: 2.4rem;
            color: #353535;
            text-align: center;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.3;
        }

        &-subtitle-text{
            font-family: 'Rubik', sans-serif;
            font-size: 1.5rem;
            color: #353535;
            text-align: center;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 1.2;
        }

    }

}

// !!! FOOTER FONTS !!! //
.footer{

    &__nav{

        &-link{
            font-family: 'Rubik', sans-serif;
            font-size: 1.2rem;
            line-height: 2;
            text-transform: uppercase;
            color: #fff;
            font-weight: 300;
            text-align: center;
        }

    }

    &__social{

        &-text{
            font-family: 'Rubik', sans-serif;
            font-size: 1.2rem;
            color: #fff;
            font-weight: 200;
            line-height: 2;
        }

    }

}

@media (max-width: 751px) {
    .footer{
        &__nav-link{
            font-size: 1.5rem;
            line-height: 1.8;
        }
    }
}