.header{

    // !!! HEADER TOP STYLE !!! //

    &__top{
        width: 89.35%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        &-menu{
            
            &-link{
                display: flex;
                flex-direction: row;
                align-items: center;
                
                &-img{
                    width: 2.55rem;
                    height: 2.4rem;
                    margin: 2.25rem 2.25rem 2.25rem 0rem;
                }

            }

        }

        &-box{

            &-link{
                display: flex;
                flex-direction: row;
                align-items: center;

                &-img{
                    width: 3.5rem;
                    height: 3rem;
                    margin: 0rem 0rem 0rem 2.25rem
                }

            }
            
        }

    }

    // !!! HEADER INTRO STYLE !!! //

    &__intro{
        background: url('../img/Layer 772.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-content{
            width: 44%;
            margin: auto;
            padding: 8rem 0rem 12.25rem 0rem;
        }

        &-title-text{
            padding-bottom: 3rem;
        }

    }

    // !!! HEADER NAV STYLE !!! //

    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 58.2%;
        margin: 0 auto;

        &-item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 25%;
            border-left: 0.1rem solid #dbdbdb;

            &-link{
                width: 100%;
                height: 100%;
                padding: 2.5rem 0rem;
            }

            &-link:hover{
                background: #54326a;
                color: #fff;
            }

        }

        &-item:first-child{
            border-left: none;
        }

    }

}


@media (max-width: 751px) {
    .header{

        &__intro{
            background: url('../img/Layer 161 copy.png');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;

            &-content{
                width: 81%;
                padding-top: 5.4rem;
                padding-bottom: 12.2rem;
            }

        }

        &__nav{
            display: none;
        }

    }
}
