.header{

    // !!! HEADER TOP STYLE !!! //

    &__top{
        width: 90.3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        &-menu{
            
            &-link{
                display: flex;
                flex-direction: row;
                align-items: center;
                
                &-img{
                    width: 51px;
                    height: 48px;
                    margin: 45px 45px 45px 0px;
                }

            }

        }

        &-box{

            &-link{
                display: flex;
                flex-direction: row;
                align-items: center;

                &-img{
                    width: 70px;
                    height: 60px;
                    margin: 0px 0px 0px 45px;
                }

            }
            
        }

    }

    // !!! HEADER INTRO STYLE !!! //

    &__intro{

        background-image: url('../img/Layer 772.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;

        &-content{
            width: 44%;
            margin: auto;
            padding: 160px 0px 245px 0px;
        }

        &-title-text{
            padding-bottom: 60px;
        }

    }

    // !!! HEADER NAV STYLE !!! //

    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 58.2%;
        margin: 0 auto;

        &-item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 25%;
            border-left: 1px solid #dbdbdb;

            &-link{
                width: 100%;
                height: 100%;
                padding: 50px 0px;
            }

            &-link:hover{
                background: #54326a;
                color: #fff;
            }

        }

        &-item:first-child{
            border-left: none;
        }

    }

}