.ingredients{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__title{
        padding-bottom: 8.5rem;
    }

    &__block{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 3rem;

        &-reverse{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding-bottom: 3rem;
        }


        &-wrap{
            display: flex;
            width: 50%;

            &-reverse{
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }
        }

        &-gradient{
            display: flex;
            flex-direction: row;
            width: 47.65rem;
            height: 33.5rem;
            background: -webkit-linear-gradient( 0deg, rgb(236,224,249) 0%, rgb(255,242,255) 43%, rgb(255,238,226) 99%);

            &-reverse{
                display: flex;
                flex-direction: row;
                width: 47.65rem;
                height: 33.5rem;
                background: -webkit-linear-gradient( 0deg, rgb(236,224,249) 0%, rgb(255,242,255) 43%, rgb(255,238,226) 99%);
            }

        }

        &-background{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 47.65rem;
            height: 33.5rem;
            background: #fff;
            position: relative;
            left: 10%;
            bottom: 10%;
            box-shadow: 1.5rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.1);

            &-reverse{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 47.65rem;
                height: 33.5rem;
                background: #fff;
                position: relative;
                left: -10%;
                bottom: 10%;
                box-shadow: 1rem 1.6rem 1rem 0.1rem rgba(0, 0, 0, 0.1);

            }

            &-img{

                &-picture{
                    max-width: 39.3rem;
                    max-height: 24.3rem;
                }

            }

        }

        &-description{
            padding-right: 7%;

            &-reverse{
                padding-left: 7%;
            }

            &-title-text{
                padding-bottom: 1rem;
            }

            &-subtitle-text{
                padding-bottom: 1.25rem;
            }

        }

    }

}

@media (min-width: 2800px) {
    .ingredients{
        width: 67%;
    }
}

@media (max-width: 751px) {
    .ingredients{
        width: 100%;
        margin: initial;

        &__block, &__block-reverse{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__block-wrap, &__block-wrap-reverse{
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &__block-gradient, &__block-gradient-reverse{
            display: flex;
            flex-direction: row;
            width: 32.8rem;
            height: 23.1rem;
            background: -webkit-linear-gradient( 0deg, rgb(236,224,249) 0%, rgb(255,242,255) 43%, rgb(255,238,226) 99%);
        }

        &__block-background, &__block-background-reverse{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32.8rem;
            height: 23.1rem;
            background: #fff;
            position: relative;
            left: 10%;
            bottom: 10%;
            box-shadow: 1.5rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
        }

        &__block-background-img-picture{
            max-width: 27.65rem;
            max-height: 17.1rem;
        }

        &__block-description, &__block-description-reverse{
            padding-left: 4rem;
            padding-right: 4rem;
            margin: auto;
        }
    }

}