.skincare{
    padding-top: 18rem;

    &__border{
        display: flex;
        flex-direction: column;
        width: 67%;
        background: url('../img/Vector Smart Object copy 34.png') left no-repeat, url('../img/Vector Smart Object copy 35.png') right no-repeat;
        background-size: contain;
        padding: 1.3%;
        margin: 0 auto;

        &-content{
            background: #512e91;
            padding: 7.5rem 0rem;

            &-top{
                width: 68%;
                margin: 0 auto;
            }

            &-bottom{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

        }

    }

    &__top-text{
        padding-bottom: 4.25rem;
    }

    &__title-text{
        padding-bottom: 2.5rem;
    }

    &__subtitle-text{
        padding-bottom: 4.6rem;
    }

    &__list{
        padding: 0rem 0.9rem;
    }
    
}

@media (min-width: 2400px) {
    .skincare__border-content-top{
        width: 50%;
    }
}

@media (max-width: 751px) {
    .skincare{

        &__list{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__border{
            width: 100%;
            
            &-content-bottom{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                margin: auto;
            }

        }

    }
    
}